/* style.css */

body {
  background-color: #f4f4f9;
}

.card {
  max-width: 500px;
  margin: 0 auto;
}

.progress-bar {
  transition: width 0.4s;
}

#upload-feedback {
  font-size: 0.9em;
}
