<body class="d-flex justify-content-center align-items-center">
      <div class="login-portal">
        <div class="header">
          <h1 class="title">Sign in to Twitter Demake</h1>
        </div>
        <form class="twitter-form" #form="ngForm" (ngSubmit)="login()" novalidate>
          <div class="login">
            <p class="line mt-2">
              <span class="underscore"></span>
              <span class="or">or</span>
              <span class="underscore"></span>
          </p><br>     
          <div *ngIf="!showPassword">
                <input
                class="username-btn"
                type="text"
                placeholder=" Phone, email, or username"
                [(ngModel)]="username"
                name="username"
                required
                #usernameInput="ngModel">
              
            </div>
  
            <div *ngIf="showPassword">
              <input class="username-btn" type="password" placeholder="Password" [(ngModel)]="password" name="password" required><br>
            </div>
  
            <button *ngIf="!showPassword" class="login-btn" type="button" (click)="showPasswordTab()">
              <span class="next-label">Next</span>
            </button>
  
            <button *ngIf="showPassword" class="login-btn" type="submit">
              <span class="next-label">Sign In</span>
            </button>
  
            <button class="forgot-btn" type="submit">
              <span class="forgot-label">Forgot password?</span>
            </button>
          </div>
  
          <div class="sign-up">
            <p class="para">Don't have an account?</p>
            <a class="link" (click)="openSignUpPopup()">Sign up</a>
          </div>
        </form>
      </div>
  
    <div class="modal" *ngIf="showSignUpModal">
      <span class="close-button" (click)="closeSignUpPopup()">✖</span>
      <app-registration></app-registration> 
    </div>
  </body>

  <div class="error-modal" *ngIf="showAuthFailModal">
    <div class="error-modal-content">
      <h2>Authentication Failed</h2>
      <p>Incorrect username or password. Please try again.</p>
    </div>
  </div>
  