<div *ngIf="isVisible" class="modal-overlay">
  <div class="modal-content">
    <div class="modal-header">
      <div class="">
        <button class="close-button" (click)="closeModal()">×</button>
        <span class="ml-4" style="font-size: 20px; font-weight: bold"
          >Edit Profile</span
        >
      </div>
      <button type="button" (click)="saveChanges()" class="save-button">
        Save
      </button>
    </div>

    <div class="photo-upload-container">
      <img *ngIf="showCoverImage" [src]="userDto.header_image_url" alt="User" class="profile-img" />
      <img
        *ngIf="!showCoverImage"
        [src]="photoUrl"
        alt="Uploaded Photo"
        class="uploaded-photo"
      />

      <!-- Upload Icon and Tooltip -->
      <div
        *ngIf="!photoUrl"
        class="icon-container"
        (click)="triggerFileInput()"
      >
        <i class="fas fa-camera upload-icon"></i>
        <span class="tooltip">Add photo</span>
      </div>

      <!-- Remove Icon and Tooltip -->
      <div
        *ngIf="photoUrl"
        class="icon-container"
        (click)="removePhoto($event)"
      >
        <i class="fas fa-times remove-icon"></i>
        <span class="tooltip">Remove photo</span>
      </div>

      <input
        type="file"
        accept="image/*"
        (change)="onImageSelected($event)"
        id="fileInput"
        style="display: none"
      />
    </div>

    <div class="photo-upload">
      <div class="photo-container" (click)="triggerProfileInput()"
      >
        <img *ngIf="showExistingImage" [src]="userDto.profile_image_url" alt="User" class="profile-img" />
        <img *ngIf="!showExistingImage" [src]="profileImageUrl" alt="User" class="profile-img" />
        <div class="icon-overlay">
          <i class="fas fa-camera upload-icon"></i>
          <span class="tooltip">Add photo</span>
        </div>
      </div>
      <input
      type="file"
      accept="image/*"
      (change)="onFileSelected($event)"
      id="profileInput"
      style="display: none"
    />
    </div>

    <form>
      <div>
        <input
          type="text"
          id="name"
          name="name"
          placeholder="Name"
          [(ngModel)]="userDto.full_name"
        />
      </div>

      <div>
        <textarea
          id="bio"
          name="bio"
          placeholder="Bio"
          [(ngModel)]="userDto.bio"
        ></textarea>
      </div>

      <div>
        <input
          type="text"
          id="location"
          name="location"
          placeholder="Location"
          [(ngModel)]="userDto.location"
        />
      </div>

      <div>
        <input
          type="url"
          id="website"
          name="website"
          placeholder="Website"
          [(ngModel)]="userDto.website"
        />
      </div>
    </form>
  </div>
</div>
